.session_ifo
  - if current_user
    #{current_user.email} | #{link_to 'Edit', edit_user_registration_path, :"data-no-turbolink" => true} | #{link_to 'Sign out', destroy_user_session_path, method: :delete}
  - else
    #{link_to 'Sign in', new_user_session_path} | #{link_to 'Registration', new_user_registration_path, :"data-no-turbolink" => true}
