!!!
%html
  %head
    %title MyStore
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

    .text-center
      %p.notice= notice
      %p.alert= alert

      - if flash[:error]
        .flash.error
          = flash[:error]

      - if flash[:success]
        .flash.success
          = flash[:success]

      = render partial: 'layouts/session_info'

    .container.text-center
      .row
        .col-md-12
          = yield

