!!!
%html
  %head
    %title MyStore
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

    .text-center
      %p.notice= notice
      %p.alert= alert

      = render partial: 'layouts/session_info'

      %p{:style => "color: #ff7b74"}
        = flash[:error]
      %p{:style => "color: #378060"}
        = flash[:success]

    .container.text-center
      .row
        .col-md-12
          = yield